body {
   background-color: #2d2d2d; 
}

.logo {
    height: 125px;
    width: 125px;
}

header {
    display: flex;
    background-color: white;
    margin: auto;
    height: 125px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: solid 1px white;
}

h1 {
    color: #2d2d2d;
    margin: auto;
    font-size: 95px;
    font-family: 'Cabin', sans-serif;
    font-style: italic;
}

nav {
    display: flex; 
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0; 
    top: 125px;  
    background-color: #2d2d2d;
    border-top: 5px solid white;
}

.links {
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
}

button,
button:focus,
button:active{
	border:1px solid white;
	background:none;
	outline:none;
	padding:0;
}

button span{
	position: relative;
}

.navButtons {
    width: 200px;
    height: 50px;
    background-color: #2d2d2d;
    color: white;
    font-size: 20px;
    font-family: 'Old Standard TT', serif;
    font-style: italic;
}

.navButtons:hover {
    background-color: white;
    color: #2d2d2d;

}

#heroContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'Old Standard TT', serif;
    color: white;
    margin-bottom: 20px;
    margin-top: 200px;
}

.socialmediaTitles {
    text-align: center;
    font-size: 40px;
}

.socialmedia {
    display: inline-block;
    margin:auto;
}

.downloadLinks {
    width: 400px;
    height: 150px;
}

#aboutContainer {
    text-align: center;
    background-color: #2d2d2d;
    color: white;
}

@media only screen and (max-width: 1280px) {

    #heroContainer {
        flex-direction: column;
    }

    .socialmedia {
        margin-top: 0;
    }

    .video {
        order: -1;
    }

}

@media only screen and (max-width: 1000px){
    h1 {
        font-size:50px;
    }

    .video {
        order: -1;
    }
    
}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 35px;
    }

    .video {
        order: -1;
    }

    #heroContainer {
        flex-direction: column;
    }

    .socialmediaTitles {
        font-size: 25px;
    }

    .socialmedia {
        width: 400px;
    }

    .downloadLinks {
        width: 400px;
    }

    .video-container {
        position:relative;
        padding-bottom:56.25%;
        padding-top:30px;
        height:0;
        overflow:hidden;
    }
    
    .video-container iframe, .video-container object, .video-container embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}