body {
   background-color: #2d2d2d; 
   /*background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Qif3nl0/4k-vintage-film-frame-loop_v1lu_knv__F0001.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;*/
}

.logo {
    height: 125px;
    width: 125px;
}

header {
    display: flex;
    background-color: white;
    margin: auto;
    height: 125px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: solid 1px white;
}

h1 {
    color: #2d2d2d;
    margin: auto;
    font-size: 95px;
    font-family: 'Cabin', sans-serif;
}

nav {
    display: flex; 
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0; 
    top: 125px;  
    background-color: #2d2d2d;
    border-top: 5px solid white;
}

.links {
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
}

button,
button:focus,
button:active{
	border:1px solid white;
	background:none;
	outline:none;
	padding:0;
}

button span{
	position: relative;
}

.navButtons {
    width: 200px;
    height: 50px;
    background-color: #2d2d2d;
    color: white;
    font-size: 20px;
    font-family: 'Old Standard TT', serif;
    font-style: italic;
}

.navButtons:hover {
    background-color: white;
    color: #2d2d2d;
    cursor: pointer;
}

.video {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
}

#videoContainer {
    height: 540px;
    width: 1080px;
    padding: 0;
    border: 5px solid white;
    border-radius: 7.5px;
    margin: auto;
}

#heroContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 100px;
}

.socialmediaTitles {
    text-align: center;
    font-size: 40px;
    font-family: 'Old Standard TT', serif;
    color: white;
}

.socialmedia {
    display: inline-block;
    margin:auto;
    color: white;
    width: 600px;
    text-align: center;
    font-size: 20px;
    font-family: 'Old Standard TT', serif;
}

.downloadLinks {
    width: 400px;
    height: 150px;
}

footer {
    display: flex;
    justify-content: center;
}

/* 1st Draft Calendar */

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* My Container */

#calendarContainer {
    margin-top: 200px;
}

/* Month header */
.month {
  padding: 70px 25px;
  width: 64.5%;
  margin: auto;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  width: 68.7%;
  margin: auto;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  width: 68.7%;
  padding: 10px 0;
  background: #eee;
  margin: auto;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* End Calendar Draft */

@media only screen and (max-width: 1280px) {

    #heroContainer {
        flex-direction: column;
    }

    .socialmedia {
        margin-top: 0;
    }

    .about {
        order: -1;
    }

    #videoContainer {
        width: 920px;
    }

}

@media only screen and (max-width: 1100px){
   
    h1 {
        font-size:50px;
    }

    #videoContainer {
        width: 720px;
        height: 340px;
    }
 
}

@media only screen and (max-width: 800px) {

    h1 {
        font-size: 35px;
    }

    #heroContainer {
        flex-direction: column;
    }

    .socialmediaTitles {
        font-size: 25px;
    }

    .socialmedia {
        width: 400px;
    }

    .downloadLinks {
        width: 400px;
    }

    #videoContainer {
        width: 520px;

    }
}

@media only screen and (max-width: 600px) {
   
    .logo {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    #videoContainer {
        width: 300px;
        height: 240px;

    }

    .navButtons {
        width: 125px;
    }

}